<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GFM Markdown Preview</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Preview">

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="http://cdn.bootcss.com/highlight.js/8.5/styles/solarized_dark.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="res/css/main.css">

</head>

<body>

    <div class="container-fluid main-body">
        <div class="row">
            <div class="col-xs-12">

                <div class="navbar-title">
                    <p id="navbar-list">
                    </p>
                </div>

                <article class="post-content">